# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Others
# *.ac
# *.am
*.m4
configure
*.cache
compile
depcomp
missing
*.log
config.*
*-sh
NOTES
*.in
Makefile
.deps
.libs
*.in~
*-h1
ltmain.sh
libtool
FONCTIONNE*
search
*.json
fraction.*

completer.pro
*.cpp.swp
*.h.swp
qtev3
CMakeFiles/*
TargetDirectories.txt
CMakeRuleHashes.txt
cmake.check_cache
Makefile.cmake
progress.marks
CXX.includecache
DependInfo.cmake
build.make
depend.internal
depend.make
flags.make
link.txt
progress.make
qwtq_autogen.dir/*
3.12.4/*
qtev3.dir/*
qwtq.dir/*
qwtq_autogen.dir/*

